.mainLayoutPageWrap{
  display: flex;
  height: 100%;
  .layout_aside{
    width: 25%;
    height: 100%;
    overflow: hidden;
  }
  .layout_basic{
    width: 75%;
    height: 100%;
    overflow: hidden;
  }
}